.cardlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 5vw;
  justify-content: center;
  align-content: flex-start;
  width: 100%;

  .cardlist-item {
    text-align: center;
    height: 250px;
    text-overflow: ellipsis;
    box-shadow: 0 3px 15px 0 rgba(black, 0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    width: 185px;

    figure {
      margin: 0;
      padding: 0;
      max-width: 185px;
    }

    img {
      display: block;
      max-width: 185px;
      width: auto;
      height: auto;
    }
  }

  .cardlist-item-title {
    height: 40px;
    display: inline-flex;
    align-items: center;
  }

  .cardlist-item-cover {
    min-height: 185px;
    display: flex;
    align-items: center;
  }

  figcaption div {
    font-weight: 100;
    font-size: 15px;
    @include multiLineEllipsis($width: 140px, $lineHeight: 15px, $lineCount: 2, $bgColor: white);
    text-align: center;
    padding-left: 1em;
    &:before {
      right: 4px;
      bottom: 2px;
    }
  }

  figcaption div span {
    text-align: center;
    word-break: break-all;
    max-width: 185px;
    max-height: 15px * 2
  }
}

@media (max-width: 545px) {
  .cardlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);

    .cardlist-item {
      width: 140px;
      height: 190px;

      figure {
        max-width: 140px !important;
      }

      img {
        display: block;
        max-width: 140px;
        max-height: 140px;
        width: auto;
        height: auto;
      }
    }

    .cardlist-item-title {
      height: 30px;
      display: inline-flex;
      align-items: center;
    }

    .cardlist-item-cover {
      min-height: 140px;
      display: flex;
      align-items: center;
    }

    figcaption div {
      @include multiLineEllipsis($width: 140px, $lineHeight: 15px, $lineCount: 2, $bgColor: white);
      text-align: center;
      padding-left: 1em;
      &:before {
        right: 4px;
        bottom: 2px;
      }
    }
  
    figcaption div span {
      max-width: 110px;
      max-height: 15px * 2
    }
  }
}

@media (max-width: 347px) {
  .cardlist-container {
    grid-gap: 2vw;
  }
}
