@mixin network-animation-properties {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 0ms;
  animation-duration: 0.3s;
}

.network-bar {
  z-index: 1;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: $red;
  opacity: 0;
  margin-bottom: -28px;

  &.network {
    animation-name: hideNetworkBar;
    @include network-animation-properties;
  }

  &.without-network {
    animation-name: showNetworkBar;
    @include network-animation-properties;
  }
}

@media (max-width: 765px) {
  .network-bar {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: $red;
    opacity: 0;
    margin-bottom: -28px;

    &.network {
      animation-name: hideNetworkBar;
      @include network-animation-properties;
    }

    &.without-network {
      animation-name: showNetworkBar;
      @include network-animation-properties;
    }
  }

}

@keyframes showNetworkBar {
  0% {
    opacity: 0;
    margin-bottom: -28px;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
    transform: translateY(0%);
  }
}

@keyframes hideNetworkBar {
  0% {
    opacity: 1;
    margin-bottom: 0;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    margin-bottom: -28px;
    transform: translateY(-100%);
  }
}
