@mixin player-animation-properties {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 0ms;
  animation-duration: 300ms;
}

#player {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 5px;
  height: 80px;
  background-color: #282828;
  justify-content: space-around;
  align-items: center;
  color: white;

  &.showing-player {
    animation-name: showPlayer;
    @include player-animation-properties;
  }

  &.hiding-player {
    animation-name: hidePlayer;
    @include player-animation-properties;
  }

  .music {
    font-size: 1em;
    padding: 7px 0;
  }

  .artist {
    font-size: 14px;
    color: $gray-dark;
  }

  .player-content-left,
  .player-content-right {
      display: flex;
      width: 50%;
  }
}

#player-progress-bar {
  border-top: 4px solid $youtube-red;
  position: absolute;
  bottom: 77px;
  left: 0;

  -moz-transition: width 1.5s ease-in;
  -webkit-transition: width 1.5s ease-in;
  -o-transition: width 1.5s ease-in;
  transition: width 1.5s ease-in;

  &:after {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray-light;
    box-shadow: 0 0 10px rgba(black, 0.4);
  }
}

#playing-cover {
  margin-right: 15px;
  min-width: 60px;
  min-height: 60px;
  background-size: cover !important;
  background-position: 50%;
}

#player-controls {
  display: flex;
  justify-content: space-between;
  width: 200px;
  max-width: 200px;

  .prev-button, .toggle-button, .next-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;

    &.disabled {
      &:hover {
        cursor: inherit;
        border-radius: 0;
        background-color: inherit;
      }
    }

    &:hover {
      cursor: pointer;
      border-radius: 50%;
      background-color: #404040;
    }

    svg {
      margin: 0 auto;
      display: block;
    }
  }
}

#playing-details {
  width: auto;
  max-width: 250px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

@media (max-width: 765px) {
  #player {
    position: fixed;
    display: flex;
    bottom: $bottombar-height;
    left: 0;
    padding: 5px;
    height: $bottombar-height;
    background-color: #282828;
    justify-content: space-around;
    align-items: center;

    &.showing-player {
      animation-name: showPlayer;
      @include player-animation-properties;
    }

    &.hiding-player {
      animation-name: hidePlayer;
      @include player-animation-properties;
    }

    .player-content-left,
    .player-content-right {
      display: flex;
      justify-content: center;
      width: 50%;
    }
    .music {
      font-size: 1em;
      padding: 2px 0;
    }
  }

  #player-progress-bar {
    bottom: 48px;
    border-top: 2px solid $youtube-red;

    &:after {
      top: -6px;
      width: 10px;
      height: 10px;
    }
  }

  #playing-cover {
    margin-right: 15px;
    min-width: 30px;
    min-height: 30px;
    background-size: cover !important;
    background-position: 50%;
  }

  #playing-details {
    width: auto;
    max-width: 200px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    padding-left: 0;
  }

  #player-controls {
    max-width: 130px;

    .prev-button, .toggle-button, .next-button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;

      &.disabled {
        &:hover {
          animation-name: controlsDisabledAnimation;
          @include player-animation-properties;
        }
      }

      &:hover {
        animation-name: controlsAnimation;
        @include player-animation-properties;
      }

      svg {
        margin: 0 auto;
        display: block;

        -webkit-tap-highlight-color: transparent;
      }
    }
  }

}

@keyframes showPlayer {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes hidePlayer {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(200%);
  }
}

@keyframes controlsAnimation {
  0% {
    background-color: #404040;
  }

  100% {
    background-color: inherit;
  }
}

@keyframes controlsDisabledAnimation {
  0% {
    background-color: inherit;
  }

  100% {
    background-color: inherit;
  }
}
