//Colors
$gray: #CCC;
$gray-dark: #666;
$gray-light: #F4F4F4;

$youtube-red: #ff0000;
$youtube-red-hover: #ff000084;

$red: #C52222;

$black-dark: #242424;

$white: #FFF;
$black: #000;
$purple: #773DBF;
$color_celeste_approx: #ccc;
$color_tundora_approx: #444;
$color_raven_approx: #6c7b8a;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$color_desert_storm_approx: #f8f6f6;

$primary: $purple;

//Spacing
$base-unit: 8px;
$base-spacing: 2 * $base-unit;

//Typography
$sans-serif: sans-serif;

$font-size-base: 20px;

//Components
$header-height: 7 * $base-unit;
