#login {
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    padding: 20px 30px;
    box-shadow: inset 0 0 10px rgba(darken($youtube-red, 20%), 0.5);
  }
}
