#playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  grid-gap: 5vw;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  //min-height: 0;
  //min-width: 0;
  //max-height:100%;

  .playlist-item {
    text-align: center;
    height: 250px;
    text-overflow: ellipsis;
    box-shadow: 0 3px 15px 0 rgba(black, 0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    width: 185px;

    figure {
      margin: 0;
      padding: 0;
      max-width: 200px;
    }

    img {
      width: 200px;
    }

    figcaption {
      padding: 10px;
      font-weight: 100;
      font-size: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      display: -webkit-box;
      max-width: 200px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .playlist-item-cover {
    min-height: 185px;
    display: flex;
    align-items: center;
  }

  .playlist-item-title {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 545px) {
  #playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);

    .playlist-item {
      width: 140px;
      height: 190px;
    }

    .playlist-item-cover {
      min-height: 140px;
      display: flex;
      align-items: center;
    }

    .playlist-item-title {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      height: 140px;
      width: 140px;
      max-width: 140px;
      max-height: 140px;
    }

    figure {
      max-width: 140px !important;
    }

    span {
      width: 140px;
    }
  }
}

@media (max-width: 347px) {
  #playlists {
    grid-gap: 2vw;
  }
}
