#playlists {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: flex-start;

  .playlist-item {
    text-align: center;
    height: 250px;
    text-overflow: ellipsis;
    box-shadow: 0 3px 15px 0 rgba(black, 0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;

    figure {
      margin: 0;
      padding: 0;
      max-width: 200px;
    }

    img {
      width: 200px;
    }

    figcaption {
      padding: 10px;
      font-weight: 100;
      font-size: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      display: -webkit-box;
      max-width: 200px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (max-width: 545px) {
  #playlists {
    padding: 30px;
    margin-left: -20px;
    margin-top: -20px;

    .playlist-item {
      width: 140px;
      height: 190px;
      margin-left: 20px;
      margin-top: 20px;
    }

    img {
      height: 140px;
      width: 140px;
      max-width: 140px;
      max-height: 140px;
    }

    figure {
      max-width: 140px !important;
    }

    span {
      width: 140px;
    }
  }
}
