#playlists {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;

  .playlist-item {
    text-align: center;
    height: 250px;
    text-overflow: ellipsis;
    box-shadow: 0 3px 15px 0 rgba(black, 0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;

    figure {
      margin: 0;
      padding: 0;
    }

    figcaption {
      font-weight: 100;
      font-size: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      padding: 0 10px;
    }
  }
}
